.login {
    margin: 100px auto;
    width: 200px;
    background-color:rgba(245, 245, 245, 0.785);
    padding: 60px;
    border-radius: 1px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid;
    /* height: 400px; */
  
  }
  
  .user-login {
    list-style-type: none;
    padding: 0;
  }
  
  .user-login h2 {
    margin-bottom: 40px;
  }
  
  .user-login li {
    margin-bottom:10px;
  }
  
  .user-login input {
    width: 95%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
  }

  .user-login button {
    border-radius: 1px;
    width: 105%;
    background-color: rgb(54, 227, 54);
    padding: 10px;
    border: 1px solid;
    margin-bottom: 70px;
  }

 
 